html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  position: absolute;
  top:30px;
  right: 50px;
  width: 30vw;
}

.login, .register {
  padding: 10px 0;
  min-width: 100px;
  width: 8vw;
  background-color: rgb(11, 92, 88);
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(122, 248, 248, 0.2);
  border-style: none;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 10px;
}



.main {
  display: flex;
}

.box-1 {
  width: 100%;
}

.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
