<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="styles/style.css">

    <!-- Uncomment needed file -->

    <!-- <link rel="stylesheet" href="styles/float.css"> -->
    <!-- <link rel="stylesheet" href="styles/inline-block.css"> -->
    <link rel="stylesheet" href="styles/flex.css">

</head>

<body>
    <div class="wrapper">
        <header class="header">Header</header>
        <main class="main">
            <div class="box-1">
                <h2>Box 1</h2>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem numquam ex illo reprehenderit quasi eum
                modi
                eveniet at quam aliquid suscipit, esse ipsa debitis similique earum vitae culpa corrupti repellendus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti repellendus, ipsum, neque ab suscipit
                dolorum, ad commodi a corrupti officiis praesentium? Dicta minima sint placeat dolorum reprehenderit
                doloribus laudantium facilis!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quae alias sed corporis, ducimus
                quod molestias voluptas pariatur hic inventore rem. Eos hic, at porro eaque dolores fugit quod iste!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat expedita earum vel enim vero,
                aspernatur laudantium accusamus. Adipisci ex nostrum id blanditiis a officia corporis et placeat!
                Perspiciatis, modi nisi.



                <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quae alias sed corporis, ducimus quod molestias voluptas pariatur hic inventore rem. Eos hic, at porro eaque dolores fugit quod iste!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, totam, reiciendis obcaecati ex suscipit laboriosam ea consectetur dolore debitis facere natus voluptas quos numquam non, nisi aspernatur similique ducimus quod.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem numquam ex illo reprehenderit quasi eum modi
            eveniet at quam aliquid suscipit, esse ipsa debitis similique earum vitae culpa corrupti repellendus.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti repellendus, ipsum, neque ab suscipit
            dolorum, ad commodi a corrupti officiis praesentium? Dicta minima sint placeat dolorum reprehenderit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex pariatur quam quos praesentium nulla voluptatibus, provident 
            incidunt quasi blanditiis doloremque omnis, ipsa veritatis voluptates ducimus sapiente earum exercitationem laboriosam doloribus?
            doloribus laudantium facilis!</p>            -->

            </div>
            <div class="box-2">
                <h2>Box 2</h2>
            </div>
            <div class="box-3">
                <h2>Box 3</h2>
            </div>
        </main>
    </div>


    <footer class="footer">Footer</footer>
</body>

</html>