<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="styles/style.css">
    <!-- Uncomment needed file -->

    <!-- <link rel="stylesheet" href="styles/float.css"> -->
    <!-- <link rel="stylesheet" href="styles/inline-block.css"> -->
    <link rel="stylesheet" href="styles/flex.css">
    <link rel="stylesheet" href="styles/modal.css">

</head>

<body>
    <div class="wrapper">
        <header class="header"> <span>Header</span>
            <div class="button-wrapper"><button class="login"
                    onclick="document.getElementById('login').style.display='block'" style="width:auto;"> LOGIN</button>
                <button class="register" onclick="document.getElementById('register').style.display='block'"
                    style="width:auto;">SIGN UP</button>
            </div>
        </header>
        <main class="main">
            <div class="box-1">
                <h2>Main content</h2>
                <div class="messadge-block"></div>
                <div id="login" class="modal">
                    <form class="modal-content" action="#">
                        <div class="imgcontainer">
                            <h4>Login form</h2>
                                <span onclick="document.getElementById('login').style.display='none'" class="close"
                                    title="Close Modal">&times;</span>
                        </div>

                        <div class="container">
                            <input id="login-email" type="email" placeholder="Enter your email" name="email" required>
                            <div class="messadge">Error messadge</div>
                            <input id="login-psw" type="password" placeholder="Enter Password" name="psw" required>
                            <div class="messadge">Error messadge</div>
                            <button id="login-submit" type="submit">Login</button>
                        </div>
                    </form>
                </div>

                <div id="register" class="modal">
                    <form class="modal-content" action="#">
                        <div class="imgcontainer">
                            <h4>Registration form</h2>
                                <span onclick="document.getElementById('register').style.display='none'" class="close"
                                    title="Close Modal">&times;</span>
                        </div>
                        <div class="container">
                            <input id="email" type="email" placeholder="Enter your email" name="email" required>
                            <input id="psw1" type="password" placeholder='Enter Password' autocomplete="new-password" name="psw"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            <div class="messadge">Password must contain digit and big and small letters</div>
                            <input id="psw2" type="password" placeholder="Confirm Password" name="psw2" required>
                            <div class="confirm messadge">Password and Confirm Password must be much</div>
                            <button id="submit" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>


    <footer class="footer">
        <span>Footer</span>
    </footer>
    <script src="js/DataLayer.js"></script>
    <script src="js/UsersDataLayer.js"></script>
    <script src="js/App.js"></script>
</body>

</html>